* {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
    background-color: darkgrey;
    width: 200px;
    border: 1px solid #fff;
    border-bottom: none;
}

ul li {
    position: relative;
    border-bottom: 1px solid #fff;;
}

ul li a {
    text-align: center;
    display: block;
    padding: 10px 20px;
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

ul li:hover {
    background-color: deepskyblue;
}

ul li ul {
    position: absolute;
    left: 200px;
    top: 0;
    display: none;
}

ul li:hover ul li ul {
    display: none;
}

ul li:hover ul li ul li ul {
    display: none;
}

ul li:hover ul li ul li ul li ul {
    display: none;
}

ul li:hover ul {
    display: block;
}

ul li ul li:hover ul {
    display: block;
}

ul li ul li ul li:hover ul {
    display: block;
}

ul li ul li ul li ul li:hover ul {
    display: block;
}
