body {
    position: relative;
    perspective: 500px;
    perspective-origin: center -5em;
}

.side,
.container {
    width: 10em;
    height: 10em;
    line-height: 10em;;
    text-align: center;
}

.container {
    margin: 5em auto 0;
    /*border: 2px dotted white;*/
    transform-style: preserve-3d;
    animation: rotate 10s infinite linear;
}
.container:before,
.container:after {
    content: "";
    display: block;
    position: absolute;
    width: 10em;
    height: 10em;
    /*border: 2px solid white;*/
}
.container:before {
    transform: rotateX(90deg);
}
.container:after {
    transform: rotateY(90deg);
}

.side {
    position: absolute;
    width: 10em;
    height: 10em;
    border: 2px solid white;
    opacity: 0.7;
}

.back {
    transform: translateZ(-5em);
    background: red;
}
.left {
    transform: translateX(-5em) rotateY(90deg);
    background: orange;
}
.right {
    transform: translateX(5em) rotateY(90deg);
    background: yellow;
}
.top {
    transform: translateY(-5em) rotateX(90deg);
    background: green;
}
.bottom {
    transform: translateY(5em) rotateX(90deg);
    background: blue;
}
.front {
    transform: translateZ(5em);
    background: purple;
}

@keyframes rotate {
    100% {
        transform: rotatex(360deg) rotateY(360deg) rotateZ(360deg);
    }
}